.top {
    width: 100vw;
    height: fit-content;
    position: sticky;
    top: 0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    
}
.topLeft,.topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topCenter{
    flex: 6;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: rgb(88, 87, 87);
    padding: 2px;
    cursor: pointer;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem{
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topSearchIcon{
   font-size: 18px;
   color: #667;
   cursor: pointer; 
   padding: 7px;
}